* {
    padding: 0;
    margin: 0;
}
body {
    text-align: center;
}
header {
    font-family: "Montserrat", sans-serif;
    padding-bottom: 100px;
}
#centre {

    margin: 0 auto;
    width: 50%;
}
footer {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #247B7B;

    position: fixed;
    bottom: 0;
    width: 100%;
}


html {
    font-family: "Montserrat", sans-serif;
    background-color: #FFFFFA;
}


ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #0D5C63;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #247B7B;
}

.active {
    background-color: #44A1A0;
}


.container {
    width: 1000px;
}



img {
    width:100%;
    padding: 10px;
}


.column-left{
    float: left;
    width: 33%;
}
.column-right{
    float: right;
    width: 33%;
}
.column-center{
    display: inline-block;
    width: 33%;
}
